body {
    background-color: #84A59D;
}




#nav {
    background-color: black;
    color:white;
    border:2px solid white;
    height:60px;

}

#webhub{
    background-color: black;
    color: white;
    font-size:35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 100px;
}

img{
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 200px;
    height: 200px;
}

.sep{
    margin-right: 150px;
    font-size:24px;
    color:white;
}

h1{
    font-size:50px;
}

#content{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif ;
}

p{
    font-size: 25px;
    text-decoration: underline;
}

a{
    text-decoration: none;
    font-size: 20px;
    color:black;
}

footer{
    background-color: black;
    color:white;
    border:5px solid white;
    height:150px;

}

input:hover{
    background-color: orangered;
}

input:active{
    background-color: chartreuse;
}
